<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upp.dao.mapper.MerbaseinfoMapper">
  <resultMap id="BaseResultMap" type="com.upp.dto.generate.Merbaseinfo">
    <id column="MERNBR" jdbcType="VARCHAR" property="mernbr" />
    <result column="MERNAME" jdbcType="VARCHAR" property="mername" />
    <result column="MERSTATUS" jdbcType="VARCHAR" property="merstatus" />
    <result column="MERURL" jdbcType="VARCHAR" property="merurl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MERNBR, MERNAME, MERSTATUS, MERURL
  </sql>
  <select id="selectByExample" parameterType="com.upp.dto.generate.MerbaseinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MERBASEINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MERBASEINFO
    where MERNBR = #{mernbr,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MERBASEINFO
    where MERNBR = #{mernbr,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.upp.dto.generate.MerbaseinfoExample">
    delete from MERBASEINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.upp.dto.generate.Merbaseinfo">
    insert into MERBASEINFO (MERNBR, MERNAME, MERSTATUS, 
      MERURL)
    values (#{mernbr,jdbcType=VARCHAR}, #{mername,jdbcType=VARCHAR}, #{merstatus,jdbcType=VARCHAR}, 
      #{merurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.upp.dto.generate.Merbaseinfo">
    insert into MERBASEINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mernbr != null">
        MERNBR,
      </if>
      <if test="mername != null">
        MERNAME,
      </if>
      <if test="merstatus != null">
        MERSTATUS,
      </if>
      <if test="merurl != null">
        MERURL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mernbr != null">
        #{mernbr,jdbcType=VARCHAR},
      </if>
      <if test="mername != null">
        #{mername,jdbcType=VARCHAR},
      </if>
      <if test="merstatus != null">
        #{merstatus,jdbcType=VARCHAR},
      </if>
      <if test="merurl != null">
        #{merurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.upp.dto.generate.MerbaseinfoExample" resultType="java.lang.Long">
    select count(*) from MERBASEINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MERBASEINFO
    <set>
      <if test="record.mernbr != null">
        MERNBR = #{record.mernbr,jdbcType=VARCHAR},
      </if>
      <if test="record.mername != null">
        MERNAME = #{record.mername,jdbcType=VARCHAR},
      </if>
      <if test="record.merstatus != null">
        MERSTATUS = #{record.merstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.merurl != null">
        MERURL = #{record.merurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MERBASEINFO
    set MERNBR = #{record.mernbr,jdbcType=VARCHAR},
      MERNAME = #{record.mername,jdbcType=VARCHAR},
      MERSTATUS = #{record.merstatus,jdbcType=VARCHAR},
      MERURL = #{record.merurl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.upp.dto.generate.Merbaseinfo">
    update MERBASEINFO
    <set>
      <if test="mername != null">
        MERNAME = #{mername,jdbcType=VARCHAR},
      </if>
      <if test="merstatus != null">
        MERSTATUS = #{merstatus,jdbcType=VARCHAR},
      </if>
      <if test="merurl != null">
        MERURL = #{merurl,jdbcType=VARCHAR},
      </if>
    </set>
    where MERNBR = #{mernbr,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.upp.dto.generate.Merbaseinfo">
    update MERBASEINFO
    set MERNAME = #{mername,jdbcType=VARCHAR},
      MERSTATUS = #{merstatus,jdbcType=VARCHAR},
      MERURL = #{merurl,jdbcType=VARCHAR}
    where MERNBR = #{mernbr,jdbcType=VARCHAR}
  </update>
</mapper>